#wrapper{
    background-color:#e4e978;
   padding-top: 10px;
   padding-bottom: 2px;
   /* margin: 15px 10px; */
   width: 700px;
}

article{
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    /* margin: 15px 10px; */
    margin: 20px;
    margin-top: 10px;
    background-color:  #f2f4c0;
    padding-bottom: 10px;
}